body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: black;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: auto; */
}

h3.center-title {
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 1rem 0.5rem;
  font: normal 500 3rem/3rem Tahoma;
  z-index: 999;
}

.sketch {
  position: fixed;
  border: none;
  z-index: -3 !important;
  width: 100%;
  height: 100%;
  padding: auto
}

.configArea {
    width: 10%;
    transform: translateY(50%);
    height: auto;
    padding: 1rem;
}

button {
    margin: .2rem .8rem;
    padding: .4rem .8rem;
    border-radius: 10px;    
    background-clip: padding-box;
    color: black;    
    font: normal 500 16px/26px Tahoma;
    position: relative;
    border: 3px solid transparent white;
    background-color: rgb(226, 226, 221);
}

.active {
    background-color: rgb(226, 226, 221);
}

.inactive {
    background-color: rgb(160, 144, 144);
}
